@page "/courselist"
@rendermode InteractiveWebAssembly

@using LMS.Blazor.Client.Services
@using LMS.Shared.DTOs
@using LMS.Shared.DTOs.Course
<h3>CourseList</h3>

@if (courses == null)
{
    <p>API not called yet</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in courses)
            {
                <tr>
                    <td>@item.Name</td>
                </tr>
            }
        </tbody>
    </table>
}
@code {

    [Inject]
    private IApiService _apiService { get; set; } = default!;

    // private AuthenticationStateProvider AuthenticationStateProvider { get; set; } = default!;

    private List<CourseDto>? courses;


    protected async override Task OnAfterRenderAsync(bool firstRender)
    {

        if (firstRender)
        {
            try
            {
                if (_apiService != null)
                {
                    courses = (await _apiService.CallApiAsync<IEnumerable<CourseDto>>("AllCourse"))?.ToList() ?? [];
                    StateHasChanged(); // Trigger UI update after fetching data
                }
                else
                {
                    Console.WriteLine("ApiService is not initialized");
                }
            }
            catch (Exception ex)
            {
                Console.WriteLine($"Error while fetching courses: {ex.Message}");
            }
        }


    }
}
